$primary-font: "Inter";

$font-basic: rgba(8, 11, 47, 0.5);
$font-marker: #080B2F;
$font-marker-2: rgba(8, 11, 47, 0.5);


$color-1: #f2f2f2;
$color-2: #0163Ed;
$color-3: #54b28d;
$color-4: #ea4e4e;
$color-neutral: #fff;